---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app: {{ name }}
    service: {{ name }}
spec:
  replicas: {{ size }}
  selector:
    matchLabels:
      app: {{ name }}
      service: {{ name }}
  template:
    metadata:
      labels:
        app: {{ name }}
        service: {{ name }}
    spec:
      containers:
      - image: {{ image }}:{{ image_tag }}
        name: pysimple
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: 1000m
            memory: 32Mi
          requests:
            cpu: 100m
            memory: 8Mi
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 3
          periodSeconds: 3
{% if use_persistent_volume %}
        volumeMounts:
        - mountPath: /data
          name: {{ name }}-volume
      volumes:
      - name: {{ name }}-volume
        persistentVolumeClaim:
          claimName: {{ name }}-pvc
{% endif %}
