---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app: {{ name }}
    service: {{ name }}
spec:
  replicas: {{ size }}
  selector:
    matchLabels:
      app: {{ name }}
      service: {{ name }}
  template:
    metadata:
      labels:
        app: {{ name }}
        service: {{ name }}
    spec:
      containers:
      - image: {{ image }}:{{ image_tag }}
        name: pysimple
        ports:
        - containerPort: 8080
          protocol: TCP
