---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: pysimple
  namespace: {{ namespace }}
  annotations:
{% if ingress_issuer %}
    cert-manager.io/cluster-issuer: {{ ingress_issuer }}
{% endif %}
{% if ingress_class == 'nginx' %}
    nginx.ingress.kubernetes.io/rewrite-target: /
{% elif ingress_class == 'traefik' %}
    traefik.ingress.kubernetes.io/rewrite-target: /
{% endif %}
spec:
  ingressClassName: {{ ingress_class }}
{% if ingress_issuer %}
  tls:
  - hosts:
    - {{ ingress_host }}
    secretName: pysimple-tls
{% endif %}
  rules:
  - host: {{ ingress_host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: pysimple
            port:
              name: http
