---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ name }}-pvc
  namespace: {{ namespace }}
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: {{ volume_class }}
  resources:
    requests:
      storage: 100Mi
