---
kind: Service
apiVersion: v1
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app: {{ name }}
    service: {{ name }}
spec:
  selector:
    app: {{ name }}
  ports:
  - port: 8080
